body {
    background-color: #FFFFFF;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: x-large;
    margin: 0;
    padding-bottom: 1.5em;
    color: black;
    background-image: url("images/status-1.jpg");
    background-size: 150px 150px;
    background-repeat: no-repeat;
    background-position: left bottom;
}
.date-box{
    text-align: center;
    font-size: medium;
    width: 100%;
    text-align: right;
}
.header {
    text-align: center;
    background-color: #990000;
    color: white;
    font-size: x-large;
    padding: 0.5em;
}
.header-icon {
    display: inline-block;
    margin-right: 1em;
}
.header-icon img {
    width: 35px;
}
.header-text {
    display: inline-block;
    text-align: right;
}
.header-title {
    width: 100%;
    text-align: right;
}
.content {
    padding: 1em;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
}
.top-row {
    width: 100%;
}
.input-box {
    border: 1px solid black;
    width: 100%;
}
.button-holder {
    margin-top: .5em;
    width: 100%;
    text-align: right;
}
.add-button {
    background-color: #990000;
    color: white;
    text-align: center;
    padding: 2px;
    cursor: pointer;
    width: 35%;
    margin-left:auto; 
    margin-right:0;
}
.text-box-holder {
    display: inline-block;
    border-right: 1px solid #999999;
    padding-right: .5em;
    width: 70%;
}
.text-box-holder input {
    border: none;
    outline: none;
    font-size: large;
    padding: 5px;
    width: 100%;
}
.calorie-drop-down {
    display: inline-block;
    border: none;
    outline: none;
    min-width: 60px;
    -webkit-appearance: none;
    text-align: center;
    font-size: large;
    padding: 5px;
    background-color: #ffffff;
    width: 21%;
}
.calories-list-container {
    width: 100%;
}
.calories-list {
    text-align: right;
    margin-left: auto;
    margin-right: 0;
}
.calories-list tr {
    cursor: pointer;
}
.calories-list tr:hover {
    background-color: #9dc8d6;
}
.calories-list td {
    font-size: x-large;
}
.calories-list td.item-calories{
    padding-left: 1em;
}
.totals-row {
    margin-top: .5em;
    text-align: right;
    font-size: xx-large;
    font-weight: bold;
}
.total-word {
    font-size: x-large;
}